section {
    width: 80%;
    height: 100%;

    margin: auto;
    margin-top: 10px;
    padding: 20px;

    background-color: rgb(184, 184, 184);
    border-width: 0px;
    border-bottom: 20px;
    border-style: solid;
    border-color: #333;
    border-radius: 20px;
}