div.spacer {
    height: 20px;
}

div.reservation_table {
    width: 90%;
    height: 100%;

    margin: auto;
    padding: 10px;

    background-color: rgb(184, 184, 184);
    border-width: 0px;
    border-bottom: 20px;
    border-style: solid;
    border-color: #333;
    border-radius: 20px;
}

div.reservation_table div.nav {
    width: fit-content;

    margin: auto;
    padding: 10px;
}

div.reservation_table div  button{
    width: 25px;
    height: 25px;

    font-weight: bold;
}

div.reservation_table div  input{
    width: fit-content;
    height: 20px;
}

table#reservation-table {
    width: 100%;
    height: 100%;

    margin: auto;
    padding: 0px;
}

table#reservation-table th:first-child {
    width: 90px;
}

table#reservation-table td {
    width: 50px;
    height: 50px;
    
    margin: 0px;
}

table#reservation-table th {
    width: 50px;
    height: 50px;
    
    margin: 0px;
}

table#reservation-table button {
    position: relative;
    left: 50%;

    width: 100%;
    height: 100%;
    
    margin: 0px;

    background-color: lightblue;
    border-style: none;
    border-radius: 5px;

    cursor: pointer;
}

table#reservation-table button:hover {
    background-color: rgb(154, 220, 241);
}

table#reservation-table button.selected {
    background-color: lightyellow;
    border-style: solid;
    border-radius: 0px;
}

table#reservation-table button.selected:hover {
    background-color: rgb(255, 255, 209);
}

table#reservation-table button.reserved {
    background-color: gray;
    color: rgb(54, 54, 54);
    border-style: none;
    border-radius: 5px;
}

form {
    width: 500px;
    height: 100%;

    margin: auto;
    margin-top: 50px;
    padding: 10px;

    background-color: rgb(184, 184, 184);
    border-width: 0px;
    border-bottom: 20px;
    border-style: solid;
    border-color: #333;
    border-radius: 20px;
}

form label {
    display: block;
    width:fit-content;

    margin: auto;
    margin-bottom: 10px;
}

form div {
    width: 360px;

    margin: auto;
}

form div input {
    padding: 5px;

    background-color: whitesmoke;
    border-style: none;
    border-radius: 5px;
}