div.spacer {
    height: 20px;
}

div.reservation_table {
    width: 90%;
    height: 100%;

    margin: auto;
    padding: 10px;

    background-color: rgb(184, 184, 184);
    border-width: 0px;
    border-bottom: 20px;
    border-style: solid;
    border-color: #333;
    border-radius: 20px;
}

div.reservation_table div.nav {
    width: fit-content;

    margin: auto;
    padding: 10px 10px 10px 20px;
}

div.reservation_table div  button{
    width: 25px;
    height: 25px;

    font-weight: bold;
}

div.reservation_table div  input{
    width: fit-content;
    height: 20px;
}

table#reservation-table {
    width: 100%;
    height: 100%;

    margin: auto;
    padding: 0px;
}

table#reservation-table th:first-child {
    width: 90px;
}

table#reservation-table td {
    width: 50px;
    height: 50px;
    
    margin: 0px;
}

table#reservation-table button {
    width: 100%;
    height: 100%;
    
    margin: 0px;

    background-color: lightblue;
    border-style: none;
    border-radius: 5px;

    cursor: pointer;
}

table#reservation-table button.selected {
    background-color: lightyellow;
    border-style: solid;
    border-radius: 0px;
}

table#reservation-table button.reserved {
    background-color: gray;
    color: rgb(54, 54, 54);
    border-style: none;
    border-radius: 5px;
}
/*
div.reservation_table div.decor {
    width: 100%;
    height: 20px;

    margin: 0;
    padding: 0;

    background-color: #333;
}*/